* text=auto eol=lf
*.sh text eol=lf
*.circom text eol=lf
*.rs text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.png binary
*.jpg binary
*.ptau binary
*.zkey binary
*.wasm binary
